*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --dosis-family:'Dosis', sans-serif;
  --title-color:#333;
  --text-color: #57647c;
  --bg-color1: #fff;
  --bg-coloe2: #f2f6f9;
  --text-color2: #fff;
  --primary-color:#fe521d;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;

}
ul{
  list-style: none;
}
.btn{
  cursor: pointer;
  border: 2px solid transparent;
  padding: 10px 32px 12px 32px;
  border-radius: 30px;
  transition: all 0.5s ease;
  font-family: var(--dosis-family);
}
.container{
  width: 1140px;
  padding: 0px 12px;
}
.site-header{
    padding: 15px 0px;
    width: 100%;
    height: 87px;
    transition: all 500ms ease 0s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .header__nav{
    flex-grow: 1;
  }
  .nav__list{
    justify-content: flex-end;
  }
  .nav__item{
    padding: 20px 0px;
    margin-right:18px;
    position: relative;
  }
  .nav__link{
    text-decoration: none;
    font-size: 18px;
    font-family: var(--dosis-family);
    font-weight: 600;
    color: var(--title-color);
  }
  .nav__link .bx{
    position: relative;
    top: 3px;
  }
  .nav__item:hover .nav__link{
    color: var(--primary-color);
  }
  .nav__item:hover > .bx{
    color: var(--primary-color);
  }
  .header__btns{
    margin-left: 20px;
  }
  .basket-btn{
    background-color: transparent;
    border: none;
    margin-right: 16px;
    cursor: pointer;
    position: relative;
  }
  .zero{
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    padding: 2px;
    top: -50%;
    left: 50%;
  }
  .search-btn{
    background-color: transparent;
    border: none;
    margin-right: 16px;
    cursor: pointer;
  }
  .bx-search{
    font-weight: bold;
  }
  .demo-btn{
    background-color: #fff;
    color: #ff4800;
    line-height: normal;
    border-radius: 30px;
    font-weight: 600;
  }
  .home__dropdown{
    position: absolute;
    top: 100%;
    left: -10px;
    background-color: #fff;
    padding: 26px 20px;
    width: 230px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    color: #212529;
    display: none;
  }
  .home__item:not(:last-child){
    margin-bottom: 18px;
  }
  .home__link{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: var(--title-color);
  }
  .home__link:hover{
    color: var(--primary-color);
  }
  .home__item--active .home__link{ 
    color: var(--primary-color); 
  }
  .home:hover .home__dropdown{
    display: block;
    animation: dropdown 0.6s ease;
  }
  @keyframes dropdown {
    0%{
      transform: translate(0,50px);
      opacity: 0;
    }
    100%{
      transform: translate(0,0);
      opacity: 1;
    }
  }
  .pages__dropdown{
    position: absolute;
    top: 100%;
    left: -10px;
    background-color: #fff;
    padding: 26px 20px;
    width: 230px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    color: #212529;
    display: none;
  }
  .pages:hover .pages__dropdown{ 
    display: block;
    animation: dropdown 0.6s ease;
  }
  .pages__item:not(:last-child){
    margin-bottom: 18px;
  }
  .pages__link{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: var(--title-color);
  }
  .pages__link:hover{
    color: var(--primary-color);
  }
  .pages__item:hover > .bx{
    color: var(--primary-color);
  }
  .blog__dropdown{
    position: absolute;
    top: 100%;
    left: -10px;
    background-color: #fff;
    padding: 26px 20px;
    width: 230px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    color: #212529;
    display: none;
  }
  .blog:hover .blog__dropdown{
    display: block;
    animation: dropdown 0.6s ease;
  }
  .blog__item:not(:last-child){
    margin-bottom: 18px;
  }
  .blog__link{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: var(--title-color);
  }
  .blog__link:hover{
    color: var(--primary-color);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .modal{
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    z-index: 3000;
    display: none;
  }
  .modal__form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    height: 60px;
    width: 500px;
    padding: 3px 0 3px 25px;
    border-radius: 30px;
  }
  .modal__input{
    width: 60%;
    height: 40px;
    border: none;
    outline: none;
  }
  .modal__search__btn{
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    color: #fff;
    transition: all 0.4s ease;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: -10px;
  }
  .modal__search__btn .bx{
    font-size: 26px;
  }
  .modal__search__btn:hover{
    background-color: #343a40;
  }
  .modal__input::placeholder{
    color: #212529;
  }
  .modal__btn{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 60px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  padding-bottom: 30px;
  }
  .show{
    display: block;
  }
  .modal__btn_inner{
    position: relative;
    padding: 20px;
  
  }
  .modal__btn_inner::before{
    content: '';
    display: inline-block;
    height: 30px;
    width: 3px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    transition: all 0.3s ease;
  }
  .modal__btn_inner::after{
    content: '';
    display: inline-block;
    height: 30px;
    width: 3px;
    background-color: #fff;
    transform: rotate(-45deg);
    position: absolute;
    transition: all 0.3s ease;
  }
  .modal__btn:hover .modal__btn_inner::after{
    transform: rotate(90deg);
    background-color: var(--primary-color);
  }
  .modal__btn:hover .modal__btn_inner::before{
    transform: rotate(270deg);
    background-color: var(--primary-color);
  }
  
  








  .hero-about {
    background-image: url('../images-about/hero-about.jpg');
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.hero-about__title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: var(--dosis-family);
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-about__inner {
    padding-top: 180px;
}

.hero-about__link {
    font-weight: 600;
    font-size: 16px;
    color: var(--primary-color);
}

.hero-about__text {
    color: #fff;
    font-family: var(--dosis-family);
    font-weight: 700;
}

.hero-about__divbox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
}

.nav__link__home {
    color: var(--title-color);
    font-weight: 600;
}

.bx-chevron-right {
    color: var(--text-color2);
    font-size: 20px;
}


/* HERO animation */

.hero-about__anim:nth-child(1) {
    position: absolute;
    top: 0;
    left: 26%;
    height: 90%;
    width: 1px;
    background-color: #ffffff1a;
    z-index: 10;
}

.hero-about__anim:nth-child(2) {
    position: absolute;
    top: 0;
    left: 49%;
    height: 90%;
    width: 1px;
    background-color: #ffffff1a;
    z-index: 10;
}

.hero-about__anim:nth-child(3) {
    position: absolute;
    top: 0;
    left: 71%;
    height: 90%;
    width: 1px;
    background-color: #ffffff1a;
    z-index: 10;
}

.hero-about__anim:nth-child(1)::before {
    content: '';
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: -100px;
    left: 26%;
    width: 1px;
    height: 100px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff 75%, #fff);
    animation: hero-anim 2.5s 2s ease-in-out infinite;
    z-index: 10;
}

.hero-about__anim:nth-child(2)::before {
    content: '';
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: -100px;
    left: 49%;
    width: 1px;
    height: 100px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff 75%, #fff);
    animation: hero-anim 2s 3.5s ease-in-out infinite;
    z-index: 10;
}

.hero-about__anim:nth-child(3)::before {
    content: '';
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: -100px;
    left: 75%;
    width: 1px;
    height: 100px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff 75%, #fff);
    animation: hero-anim 2s 2.5s ease-in-out infinite;
    z-index: 10;
}

@keyframes hero-anim {
    0% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(0, 500px);
    }
}
  .nav__link__home{
    color: var(--title-color);
    font-weight: 600;
  }





.audience{
    position: relative;
    padding: 110px 0 ;
  }
  .audience__info{
    padding-top: 70px;
  }
  .audience__title{
    margin-bottom: 18px;
    line-height: 1.3;
    font-size: 40px;
    font-weight: 700;
    color: var(--title-color);
    font-family: Dosis,sans-serif;
    width: 521px;
    text-transform: capitalize;
  }
  .audience__text{
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 15px;
    line-height: 1.8;
    width: 521px;
    margin-bottom: 20px;
  }
  .audience__btn{
    padding: 11px 32px;
    background-color: #0062cc;
    font-size: 16px;
    font-family: Dosis,sans-serif;
    color: var(--text-color2);
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.4s ease;
  }
  .audience__btn:hover{
    background-color: #4ac728;
  }
  .audience__imgbox{
    position: relative;
  }
  .audience__img2{
    position: absolute;
    top: 100px;
    left: 185px;
    z-index: 12;
  }
  .audience__itemtitle{
    font-size: 23px;
    font-weight: 700;
    color: var(--title-color);
    font-family: Dosis,sans-serif;
    margin-bottom: 13px;
  }
  .audience__itemtext{
      font-size: 15px;
      color: var(--text-color);
      margin-bottom: 15px;
      line-height: 1.8;
      width: 356px;
  }
  .audience__content{
    margin-bottom: 100px;
  }
  
  






  .sollution{
    padding: 110px 0 70px 0;
    background-color: var(--bg-coloe2);
  }
  
  .sollution__title{
    font-size: 40px;
    font-weight: 700;
    color: var(--title-color);
    font-family: Dosis,sans-serif;
    margin-bottom: 10px;
    text-align: center;
  }
  .sollution__text{
      width: 520px;
      font-size: 15px;
      color: var(--text-color);
      margin: 0 auto 45px auto;
      line-height: 1.8;
      text-align: center;
      font-weight: 500;
  }
  .sollution__list{
    flex-wrap: wrap;
  }
  .sollution__item{
    position: relative;
    background-color: var(--bg-color1);
    width: 356px;
    margin-bottom: 30px;
    transition: all 0.7s ease;
  }
  .sollution__itemtitle{
      cursor: pointer;
      text-decoration: none;
      font-size: 23px;
      font-weight: 700;
      color: var(--title-color);
      font-family: Dosis,sans-serif;
      margin-bottom: 0.5rem;
      line-height: 1.2;
      text-transform: capitalize;
      margin-bottom: 12px;
  }
  .sollution__itemtext{
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 15px;
    line-height: 1.8;
  }
  .sollution__itemimg{
    width: 75px;
    height: 75px;
    margin-bottom: 18px;
    background-color: #ffe4d9;
    border-radius: 5px;
    line-height: 75px;
    transition: .5s;
    font-size: 40px;
    text-align: center;
    color: #ff4800;
    transition: all 0.7s ease;
  }
  .sollution__item:hover .sollution__itemimg{
    background-color: #ff4800;
    color: var(--text-color2);
  }
  .sollution__itemhover{
    padding: 30px 25px;
    background-color: var(--bg-color1);
    width: 356px;
    transition: all 0.7s ease;
  }
  .sollution__itemhover::after{
      content: "";
      display: block;
      height: 4px;
      width: 20px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #ff4800;
      transition: all 0.7s ease;
  }
  .sollution__item:hover .sollution__itemhover::after{
    width: 100%;
  }
  .sollution__item:hover{
    transform: translate(0, -10px);
  }
  
  
  .meet{
    padding: 110px 0 80px 0;
    position: relative;
    background-color: var(--bg-color1);
  }
  
  .meet__item{
    transition: all 0.7s ease;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
  }
  .team__info{
    padding: 25px;
    transition: all 0.7s ease;
  }
  .team__title{
    font-size: 23px;
    color: var(--title-color);
    transition: all 0.7s ease;
    font-weight: 700;
    font-family: Dosis,sans-serif;
    margin-bottom: 8px;
    text-align: center;
    text-transform: capitalize;
  }
  .team__text{
    color: #ff4800;
    transition: all 0.7s ease;
    font-family: Dosis,sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
  }
  .team__icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-decoration: none;
    opacity: 0;
    margin-top: -100px;
    padding: 10px 25px;
    background: #fff;
    border-radius: 35px;
    transition: all 0.7s ease;
  }
   .team__imgbox{
     position: relative;
     transition: all 0.7s ease;
   }
   .team__imginner img{
    transition: all 0.7s ease;
  }
  .team__list{
    width: 80px;
  }
  .team__item{
    transition: all 0.7s ease;
  }
  .team__link{
    text-decoration: none;
    display: inline-block;
  }
  .team__link i{
    color: #ff4800;
    font-size: 22px;
    transition: all 0.7s ease;
  }
  .team__imgbox{
    overflow: hidden;
  }
  .meet__item:hover .team__icons{
    transform: translate(-50%, 70px);
    opacity: 1;
  }
  .meet__item:hover .team__info{
    background-color: #ff4800;
  }
  .meet__item:hover .team__title{
    color: var(--text-color2);
  }
  .meet__item:hover .team__text{
    color: var(--text-color2);
  }
  .meet__item:hover{
    transform: translate(0, -6px);
  }
  .meet__item:hover .team__imgbox img{
    transform: scale(1.2);
  }
  .team__item:hover i{
    color: #28a745;
  }
  
  
  .partner{
    padding: 110px 0 80px 0;
    background-color: var(--bg-coloe2);
  }
  .partner__list{
    flex-wrap: wrap;
    justify-content: center;
  }
  .partner__item{
    position: relative;
    background-color: var(--bg-color1);
    padding: 23px;
    margin: 5px ;
    transition: all 0.5s ease;
  }
  .partner__beforebox{
    transition: all 0.5s ease;
  }
  .partner__beforebox::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '' ;
    display: block;
    width: 0px;
    height: 3px;
    background-color: #ff4800;
    transition: all 0.5s ease;
    opacity: 0;
  }
  .partner__beforebox::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '' ;
    display: block;
    width: 3px;
    height: 0px;
    background-color: #ff4800;
    transition: all 0.5s ease;
    opacity: 0;
  }
  .partner__afterbox::before{
    position: absolute;
    right: 0;
    bottom: 0;
    content: '' ;
    display: block;
    width: 0px;
    height: 4px;
    background-color: #ff4800;
    transition: all 0.5s ease;
    opacity: 0;
  }
  .partner__afterbox::after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: '' ;
    display: block;
    width: 3px;
    height: 0px;
    background-color: #ff4800;
    transition: all 0.5s ease;
    opacity: 0;
  }
  

  .partner__imginner img{
    transition: all 0.6s ease;
  }
  
  .partner__item:hover img{
    transform: scale(0.8);
  }

  .partner__item:hover .partner__beforebox::before{
    width: 40px;
    height: 3px;
    opacity: 1;
  }
  .partner__item:hover .partner__beforebox::after{
    width: 3px;
    height: 40px;
    opacity: 1;
  }
  .partner__item:hover .partner__afterbox::after{
    width: 3px;
    height: 40px;
    opacity: 1;
  }
  .partner__item:hover .partner__afterbox::before{
    width: 40px;
    opacity: 1;
  }
  


.trialone{
  position: relative;
  background-image: 
  url('../images-about/trial-one.png'),
  url('../images-about/trial-boy.jpg');
  background-position: top  0 left 0, top right 0;
  background-size: 1000px 420px,  610px 420px;
  background-repeat: no-repeat;
  width: 100%;
  height: 420px;
}
.trialone__content{
  padding: 120px 0;
}
.trialone__text{
  color: #fff;
  font-size: 19px;
  font-style: italic;
  width: 650px;
  line-height: 1.8;
  margin:20px 0 20px 0;
}

.trialone__box{
  position: absolute;
  top: 80px;
  left: 150px;
  color: #f8b5a6;
  display: inline-block;
  font-style: normal;
  font-size: 60px;
  font-family: Flaticon;
  margin-bottom: 20px;
}

.trialone__name{
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color2);
  font-family: Dosis,sans-serif;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.trialone__job{
  font-weight: 300;
  color: var(--text-color2);
}
.trialone__btnbox{
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.trialone__list{
  width: 60px;
}
.trialone__btn{
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.5s ease;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: none;
  cursor: pointer;
}
.trialone__btn:hover{
  background-color: var(--title-color);
}
.trialone__btn:focus{
  background-color: var(--title-color);
}
/* .trialone__btn--left{
  position: absolute;
  top: 160px;
  left: 10px;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: transparent;
  font-size: 100px;
  font-weight:normal;
} */
/* .trialone__btn--right{
  position: absolute;
  top: 170px;
  right: 10px;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: transparent;
  font-size: 100px;
  font-weight:normal;
} */
/* .bx-chevron-right{
  /* font-size: 100px; */
} */







  
  .trial{
    background-image: url('../images-about/trial-bg-img.png'), url('../images-about/woman__trial.jpg');
    background-position: top right 0, top  0 left 0;
    background-size: 963px 430px , 640px 430px;
    background-repeat: no-repeat;
    width: 100%;
    height: 430px;
  }

  .trial__content{
    padding: 110px 0;
  }
  .trial__title{
    color: var(--bg-color1);
    font-size: 40px;
    font-weight: 700;
    font-family: Dosis,sans-serif;
    margin-bottom: 30px;
  }

  .trial__input{
    margin-bottom: 10px;
  }
  .trial__inp{
    display: block;
    display: block;
    height: 45px;
    color: #fff;
    width: 378px;
    border: none;
    outline: 0;
    background-color: var(--title-color);
    padding: 10px 0;
    border-radius: 30px;
    padding-left: 20px;
    border: none;
    margin-right: 10px;
  }
  .trial__btn{
    height: 45px;
    border: none;
    padding: 0 30px;
    line-height: 45px;
    background-color: var(--bg-color1);
    border-radius: 30px;
    transition: 0.5s ease;
    color: #ff4800;
    font-family: Dosis,sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.5s ease;
  }
  .trial__btn:hover{
    background-color: #4ac728;
    color: var(--text-color2);
  }
  .trial__text{
    color: var(--text-color2);
    max-width: 350px;
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 1.8;
  }







  #pricing{
    padding: 110px 0 80px 0;
    position: relative;
    background-color: var(--bg-coloe2);
  }
  .pricing__inner {
    text-align: center;
    margin-bottom: 60px;
  }
  .pricing__title {
    font-size: 40px;
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 10px;
  }
  .pricing__text {
    font-size: 15px;
    color: #495771;
    line-height: 1.8;
  }
  .pricing__list{
    list-style: none;
    margin-bottom: 45px;
  }
  .pricing__link {
    text-decoration: none;
  }
  .pricing__link{
    color: var(--text-color2);
    padding: 10px 30px 11px;
    border-radius: 5px 0 0 5px;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
  }
  .pricing__link--active{
    background: var(--bg-color1);
    border: none;
    color: var(--title-color);
    transition: all 0.5s ease;
  }
  .pricing__link:hover{
    background-color: var(--title-color);
    color: var(--bg-color1);
    transition: all 0.5s ease;
  }
  .pricing__link--hover{
    background: var(--bg-color1);
    color: var(--title-color);
    border-radius: 0px 5px 5px 0;
    border: none;
    transition: all 0.5s ease;
  }
  .pricing__link--hover:focus{
    background: var(--title-color);
    color: var(--text-color2);
    transition: all 0.5s ease;
  }
  .pricing__link--active:focus{
    background: var(--title-color);
    color: var(--text-color2);
    transition: all 0.5s ease;
  }
  .plans {
    list-style: none;
  }
  .plans__item {
    width: 360px;
    background: var(--text-color2);
    padding: 30px 30px 30px 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px -15px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
  }
  .plans__inner{
    color: var(--title-color);
  }
  .plans__title{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .plans__text {
    font-family: var(--text-font);
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 10px;
  }
  .plans__price {
    font-size: 20px;
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: 15px;
  }
  .plans__dollar {
    font-size: 50px;
    font-weight: 700;
    color: var(--title-color);
  }
  .plans__link {
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color2);
    background: linear-gradient(to right top,#a3a3a3,#9a9a9a,#909090,#878787,#7e7e7e);
    padding: 12px 32px;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
    transition: all 0.5s ease;
  }

  .plans__link:hover{
    background: #28a745;
    color: var(--text-color2);
  }



  .plans__link::after{
    content: '';
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    transition: opacity 0.5s;
    background-color: var(--primary-color);
    transition: all 0.5s ease;
  }
  .plans__item:hover .plans__link::after{
    opacity: 1;
  }
  .plans__link:hover::after{
    background-color: var(--hover-color);
    transition: all 0.5s ease-in-out;
  }




  .inner-list {
    list-style: none;
    padding: 30px 30px 30px 0;
  }
  .inner-list__item{
    font-size: 15px;
    font-family: var(--text-font);
    color: var(--text-color);
    position: relative;
  }
.bx-check{
  font-size: 16px;
  color: #fe521d;
  margin-right: 10px;
}
  .inner-list__item:not(:last-child) {
    margin-bottom: 12px;
  }
  .plans__link--active{
    background: var(--primary-color);
  }
  .pricing__dot{
    top: 40px;
  }
  .pricing__x__icon{
    top: 420px;
  }










  
  .footer{
    overflow: hidden;
    position: relative;
  }
  .footer__inner{
    position: relative;
    padding: 100px 0;
    background-color: #15171a;
  }
  
  .footer__logolink{
    display: block;
    margin-bottom: 18px;
  }
  .footer__box{
    position: relative;
    width: 261px;
    margin-right: 1px solid ;
  }
  .style-none{
    list-style-type: none;
  }
  .footer__text{
    font-size: 15px;
    color: var(--text-color2);
    width: 260px;
    margin-bottom: 18px;
    line-height: 1.8;
  }
  .footer__socialitem{
    width: 35px;
    height: 35px;
    background-color: var(--title-color);
    border-radius: 50%;
    align-items: center;
    text-align: center;
    padding: 8px;
    transition: all 0.4s ease;
  }
  .footer__socialitem:hover{
    background-color: #ff4800;
  }
  .footer__socialitem:not(:last-child){
    margin-right: 10px;
  }
  .footer__socialitem a{
    text-decoration: none;
  }
  
  .bxl-facebook,
  .bxl-twitter,
  .bxl-instagram,
  .bxl-youtube{
    font-size: 18px;
    color: var(--text-color2);
    display: block;
    align-items: center;
  }
  
  .footer-title{
    margin-bottom: 23px;
    color: var(--text-color2);
    position: relative;
    padding-bottom: 6px;
    font-size: 23px;
    font-weight: 700;
    font-family: var(--dosis-family);
    text-transform: capitalize;
  }
  .footer-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 2px;
    background: #ff4800;
  }
  .footer__item {
    margin-bottom: 12px;
  }
  .footer__iteminner a{
    text-decoration: none;
    color: var(--text-color2);
    font-size: 15px;
    text-transform: capitalize;
    line-height: 1.8;
    margin-left: 5px;
    z-index: 30;
    transition: all 0.4s ease;
  }
  .footer__itemtext{
    font-weight: 700;
    color: var(--text-color2);
    font-size: 14px;
    line-height: 1.7;
  }
  .footer__item a{
    text-decoration: none;
    color: var(--text-color2);
    font-size: 15px;
    text-transform: capitalize;
    line-height: 1.8;
    z-index: 30;
    transition: all 0.4s ease;
  }
  .footer__item p{
    font-weight: 700;
    margin-bottom: 6px;
    color: var(--text-color2);
    font-size: 14px;
    line-height: 1.7;
  }
  
  
  .footer__copyright{
    position: relative;
    z-index: 20;
    background-color: #000;
    padding: 20px 0;
  }
  .copy-link{
    color: var(--text-color2);
    font-size: 15px;
    text-decoration: none;
    line-height: 1.8;
  }
  .footer__item:hover a{
    color: #ff4800;
  }
  .footer__iteminner:hover a{
    color: #ff4800;
  }
  .copy-link:hover{
    color: #ff4800;
  }
  .copy-box a:nth-child(1){
    margin-right: 5px;
  }
  .copy-box a:nth-child(2){
    margin-left: 5px;
  }
  .copy-box p{
    color: var(--text-color2);
  }
  .copy-text{
    margin-right: 5px;
    color: var(--text-color2);
    font-size: 15px;
    line-height: 1.8;
  }
  .footer__img{
    position: absolute;
    top: 19%;
    right: 19%;
    z-index: 1;
  }
   .footer__anim:nth-child(1){
    position: absolute;
    top: 0;
    left: 30%;
    height: 100%;
    width: 1px;
    background-color: #ffffff1a;
    z-index: 10;
  }
  .footer__anim:nth-child(2){
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    background-color: #ffffff1a;
    z-index: 10;
  }
  .footer__anim:nth-child(3){
    position: absolute;
    top: 0;
    left: 70%;
    height: 100%;
    width: 1px;
    background-color: #ffffff1a;
    z-index: 10;
  }
  .footer__anim:nth-child(1)::before{
    content: '';
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: -100px;
    left: 30%;
    width: 1px;
    height: 100px;
    background: linear-gradient(
        180deg, hsla(0,0%,100%,0) 0,#fff 75%,#fff);
    animation: foot-anim 2.5s 2s ease-in-out  infinite;
    z-index: 10;
  }
  .footer__anim:nth-child(2)::before{
    content: '';
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: -100px;
    left: 50%;
    width: 1px;
    height: 100px;
    background: linear-gradient(
        180deg, hsla(0,0%,100%,0) 0,#fff 75%,#fff);
    animation: foot-anim 2s 3.5s ease-in-out  infinite;
    z-index: 10;
  }
  .footer__anim:nth-child(3)::before{
    content: '';
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: -100px;
    left: 70%;
    width: 1px;
    height: 100px;
    background: linear-gradient(
        180deg, hsla(0,0%,100%,0) 0,#fff 75%,#fff);
    animation: foot-anim 2s 2.5s ease-in-out  infinite;
    z-index: 10;
  }

@keyframes foot-anim {
    0% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(0, 500px);
    }
}
  
  a{
    text-decoration: none;
  }
  

  .go-top{
    position: fixed;
    cursor: pointer;
    right: 15px;
    font-size: 25px;
    bottom: 15px;
    background: #ff4800;
    z-index: 4;
    width: 40px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    transition: all 0.6s ease;
    overflow: hidden;
  }
  .go-link{
    text-decoration: none;
    color: #fff;
    transition: all 0.6s ease;
  }
  .go-top::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #4ac728;
    opacity: 0;
    transition: all 0.6s ease;
  }
  .go-top:hover .go-top::before{
    background-color: #4ac728;
    opacity: 1;
  }
  .go-top:hover{
    background-color: #4ac728;
  }
  .go-top:hover .bx-up-arrow-alt:nth-child(2){
    opacity: 1;
    transform: translateY(-40px);
  }
  .bx-up-arrow-alt:nth-child(2){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    opacity: 0;
    margin: 0 auto;
    transition: all 0.6s ease;
  }