*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --dosis-family:'Dosis', sans-serif;
  --title-color:#333;
  --text-color: #57647c;
  --bg-color1: #fff;
  --bg-coloe2: #f2f6f9;
  --text-color2: #fff;
  --primary-color:#fe521d;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 1140px;
  padding: 0px 12px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

/*    recent-section  Xushnora     */

.recent{
  padding: 110px 0px 80px 0px;
  background-color: var(--bg-color1);
}

.recent__headingbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.recent__title{
  color: var(--title-color);
  font-size: 40px;
  font-weight: 700;
  font-family: var(--dosis-family);
  margin-bottom: 2px;
}

.recent__text{
  max-width: 520px;
  font-size: 15px;
  color: var(--text-color);
  line-height: 1.8;
  margin-bottom: 15px;
}

.recent__item{
  width: 356px;
  background-color: var(--bg-coloe2);
  border-radius: 5px;
  transition: all 0.4s ease;
}
.recent__item:hover{
  background-color: var(--bg-color1);
}
.recent__item:hover .recentitem__img{
  opacity: 0.7;
}

.recent__item:hover{
  transform: translateY(-8px);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.recentitem__desc{
  padding: 20px;
}

.recentitem__img{
  border-radius: 5px;
  transition: all 0.4s ease;
}

.recentitem__spanbox{
  margin-bottom: 10px;
}

.recentitem__span{
  font-size: 15px;
  color: var(--title-color);
  font-family: var(--dosis-family);
  cursor: pointer;
}

.recentitem__title{
  font-family: var(--dosis-family);
  margin-bottom: 8px;
}

.recentitem__title-link{
  line-height: 1.4;
  font-size: 23px;
  font-weight: 700;
  color: var(--title-color);
}

.recentitem__title-link:hover{
  color: var(--primary-color);
}
.recentitem__title-link:focus{
  color: var(--primary-color);
}

.recentitem__text{
  color: var(--text-color);
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 15px;
}

.recentitem__link{
  font-size: 16px;
  font-weight: bold;
  font-family: var(--dosis-family);
  color: var(--primary-color);
  letter-spacing: 1.1px;
}

.recentitem__linkbox{
  position: relative;
  padding-bottom: 4px;
}

.recentitem__linkbox .bx-plus{
  color: var(--primary-color);
  font-size: 20px;
  margin-left: 4px;
  font-weight: bold;
}
.recentitem__link::after{
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  transition: all 0.4s ease;
}

.recentitem__linkbox:hover .recentitem__link::after{
  width: 102px;
}


